*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background:linear-gradient(135deg,#71b7e6,#9b59b6) ;


}
.digpay{
    max-width: 930px;
    height: 500px;
    width: 100%;
    /* height: auto;
    width: auto; */
    background: #fff;
    padding: 125px 113px;
    margin-left: 20px;
    border-radius: 5px;
    margin-top: 23px;
}
.digpay img{
    height: 100px;
    width: 200px;
    border: 5px solid black;
    border-radius: 13px;
    margin-top: -70px;
    margin-left: -50px;
}
img:hover {
    opacity: 0.5;
  }
.digipay img{
    height: 100px;
    width: 200px;
    border: 5px solid black;
    border-radius: 13px;
    margin-top: 30px;
    margin-left: -866px;
}
.digopay img{
    height: 100px;
    width: 200px;
    border: 5px solid black;
    border-radius: 13px;
    margin-top: 320px;
    margin-left: -866px;
    
}
.digoopay img{
    height: 300px;
    width: 280px;
    border: 5px solid black;
    border-radius: 13px;
    margin-top: -4px;
    /* margin-bottom: 205px; */
    margin-left: -297px;
    padding: 20px 30px;
}
/* .diggpay{
    border: 2px solid black;
    /* margin: 25px 30px; */
    /* z-index: 2; */
/* h1{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
} */
h1 {
    margin-left: -76px;
    margin-right: -68px;
    margin-top: 36px;
    margin-bottom: 25px;
    z-index: 1;
    position: fixed;
    font-size: 40px;
}